:root {
  --bg-gradient: linear-gradient(#1e5961 25%, #fff);
  --bg-tint-color: #222221;
  --icon-color: #b8b8b8;
  --gfg-green: #66b56f;
  --gfg-green-2: #308d46;
  --bg-green: #1e5961;
}

::selection{
  background: #fff;
  -webkit-text-fill-color: #00f;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #004e92, #000428);  
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
}

header {
  background-color: #000428;
  color: #fff;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.logo {
  height: 75px;
}

.nav-list {
  margin-right: 5vw;
  list-style: none;
  display: flex;
}

.nav-items {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  transition: all 300ms ease;
}

.nav-items:hover :is(.nav-links, .nav-underline) {
  color: var(--gfg-green);
  font-weight: 500;
  transform: scale(1.2);
}

.nav-underline {
  display: block;
  width: 0;
  background: var(--gfg-green);
  height: 2px;
  transition: width 300ms ease;
}

.nav-items:hover .nav-underline {
  width: 100%;
}

main {
  /* background: var(--bg-gradient); */
  background: #000428;
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  background: linear-gradient(to top, #004e92, #000428);
}

section {
  padding-bottom: 2vh;
}

:is(main, section) {
  min-height: 75vh;
}

:is(main, section) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  text-align: center;
  padding: 100px 10vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

h1 {
  border-radius: 5px;
  font-size: 3.3rem;
  margin-bottom: 20px;
  color: #fff;
  filter: brightness(105%);
  transform: scale(0);
  animation: scale 1s ease forwards;
}

:is(.logo, .nav-list, article, section, footer) {
  opacity: 0;
  animation: opacity 2s 1 forwards;
}

.landing-paragraph {
  color: #fff;
  margin: 3vw;
  /* background-image: linear-gradient(25deg, var(--) 30%, #fff 80%); */
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 */
}

h2 {
  color: var(--gfg-green);
  text-decoration: underline;
  text-underline-offset: 8px;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #077d8a;
  border-radius: 5px;
  box-shadow: 0 0 2px 0px var(--gfg-green-2);
  text-align: center;
  width: 300px;
  cursor: pointer;
  transition: box-shadow 300ms ease;
}

.card:hover {
  box-shadow: 0 1px 2px -2px #099bab,0 3px 6px 0 #099bab,0 3px 12px 2px #099bab!important;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h3 {
  margin: 8px;
  color: #fff;
}

.event-title {
  text-transform: uppercase;
}

.card-description {
  margin: 8px;
  font-size: 14px;
  color: #eee;
}


#contact {
  padding: 40px 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact-info {
  flex: 1;
  color: #fff;
  text-align: center;
}

.contact-form {
  flex: 1;
  background-color: var(--bg-tint-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px #444;
  width: 400px;
}

.form-label {
  color: var(--gfg-green);
  display: block;
  margin-bottom: 5px;
}

.form-input {
  border: 2px solid #444;
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: #000;
  color: #fff;
  outline: none;
}

.form-input:focus-within {
  border: 2px solid var(--gfg-green);
}

textarea {
  resize: vertical;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-btn {
  background-color: #333;
  color: var(--gfg-green);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
}

.form-btn:hover {
  background-color: #444;
}

footer {
  background: #000428;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  margin-top: 10vh;
}

.social-icons {
  display: flex;
  gap: 25px;
  margin: 25px;
}

.icon {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 300ms ease;
}

.icon:hover {
  color: var(--gfg-green);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes opacity {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .contact-form {
    width: 100%;
  }
}
